pre
  span.org-builtin
    color: $green
  span.org-string
    color: $cyan
  span.org-keyword
    color: $green
  span.org-variable-name
    color: $blue
  span.org-function-name
    color: $violet
  span.org-type
    color: $yellow
  span.org-comment-delimiter
    color: $comment
  span.org-comment
    color: $comment
  span.org-preprocessor
    color: $red